@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
  margin: 0%;
  padding: 1%;
}

.left-links  {
  display: flex;
  gap: inherit;
  list-style-type: inherit;
  padding: inherit;
  list-style: none;
}

.right-links {
  display: flex;
  gap: inherit;
  list-style-type: inherit;
  padding: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 1%;
}

.footer {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1%;
}